/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Segoe Print", sans-serif;
}
a {
	text-decoration: none;
}
ul {
	margin: 0;
}
.container-fluid {
	padding: 0;
}
header {
	height: 70px;
	background-color: #EC715F;
}
.header {
	width: 1024px;
	height: 70px;
	margin: 0 auto;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.header-logo {
	display: inline-block;
	margin-right: auto;
}
.header-nav-item {
	display: inline-block;
	margin: 0 20px;
}
.header-nav-link {
	font-size: 16px;
	color: #FAFAFA;
	text-decoration: none;
	&:hover {
		color: #FAFAFA;
		text-decoration: none;
	}
}